@import '../../styles/variables.scss';

.header {
  width: 100%;
  background-color: $bg-primary-color;
}

.top-header-panel {
  max-width: 1366px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 98px;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 400;
  color: $white;
}

.links-wrap {
  display: flex;
  gap: 23px;
  align-items: center;
}

.logo {
  color: $bg-primary-color;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 58px;
  letter-spacing: -2px;
  text-transform: uppercase;
}

.bottom-header-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  gap: 130px;
  align-items: center;
}

.menu {
  display: flex;
  gap: 30px;
}

.menu-item {
  color: $bg-primary-color;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-variant: small-caps;
  cursor: pointer;
}

.search-bar-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search-block {
  position: relative;
}

.search-input {
  width: 282px;
  height: 40px;
  padding-left: 39px;
  background-color: $bg-search-color;
  border-radius: 15px;
  border: 1px solid $bg-search-color;
  outline: none;
}

.search-icon {
  position: absolute;
  left: 9px;
  top: 50%;
  transform: translateY(-50%);
}
