@import '../../styles/variables.scss';

.wrapper{
    width: 100%;
    background-color: $bg-primary-color;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.topPanel {
max-width: 1366px;
margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 98px;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 400;
  color: $white;
}

.linksWrapper {
  display: flex;
  gap: 23px;
  align-items: center;
}

.logo {
  color: $bg-primary-color;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 58px;
  letter-spacing: -2px;
  text-transform: uppercase;
}

.bottomPanel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top:12px ;
padding-bottom: 12px;
}

.navigation {
  display: flex;
  gap: 130px;
  align-items: center;
}

.menu {
  display: flex;
  gap: 30px;
}

.menuItem {
  color: $bg-primary-color;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-variant: small-caps;
  cursor: pointer;
}

.menuItem:hover,
.menuItem:focus {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.searchBarIcons{
    display: flex;
    align-items: center;
    gap: 20px;
}

.searchBlock{
    position: relative;
}

.searchInput{
    width: 282px;
    height: 40px;
    padding-left: 39px;
    background-color: $bg-search-color;
    border-radius: 15px;
    border: 1px solid $bg-search-color;
    outline: none;
}

.searchIcon{
    position: absolute;
    left: 9px;
    top: 50%;
    transform: translateY(-50%);
}